h1 {
    font-family: 'Signika Negative', sans-serif;
    padding: 0px;
    font-weight: bold;
    background: -webkit-linear-gradient(#606c38, #283618);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 22px;
    color: #606c38;
    padding-right: 10px;
    padding-bottom: 5px;
    font-family: 'Signika Negative', sans-serif;
}

h3 {
    font-size: 22px;
    color: #283618;
    padding-right: 10px;
    text-align: center;
    padding-bottom: 5px;
    font-family: 'Signika Negative', sans-serif;
}

h4 {
  font-size: 20px;
  padding: 0px;
  margin: 0px;
  color: #283618;
  text-align: center;
  font-family: 'Signika Negative', sans-serif;
}

h5 {
  font-size: 17px;
  color: #283618;
  padding:0px;
  margin: 0px;
  font-family: 'Signika Negative', sans-serif;
}

h6 {
  font-size: 20px;
  background: -webkit-linear-gradient(#606c38, #283618);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding:0px;
  padding-bottom:7px;
  text-align: center;
  margin: 0px;
  font-family: 'Signika Negative', sans-serif;
}

body {
    font-family: 'Signika Negative', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}


td {
    border: 0px solid black;
    text-align: left;
    width: 344px; height: 20px; 
    overflow: auto;
    max-width: 400px;
    max-height: 10px;
    vertical-align: top;
}

.haj {
    border: 0px solid black;
    text-align: left;
    width: 344px; height: 20px; 
    overflow: auto;
    max-width: 400px;
    max-height: 10px;
    vertical-align: top;
}
input[name="language"] {
    font-family: 'Signika Negative', sans-serif;
    padding: 12px 16px;
    border: 1px solid #283618;
    width: 300px;
    border-radius: 4px;
  }

input[name="sentence"] {
    font-family: 'Signika Negative', sans-serif;
    padding: 12px 16px;
    border: 1px solid #283618;
    width: 300px;
    border-radius: 4px;
  }


  input[type="submit"] {
    font-family: 'Signika Negative', sans-serif;
    display: inline-block;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: 1px solid #283618;
    background-color: #606c38;
    border: none;
    margin-bottom: 30px;
    border-radius: 6px;
  }

  .container1 {
    width: auto; height: auto;
    color: black;
    background-color: rgb(145, 163, 125);
    padding: 10px;
    border: 1px solid #283618;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .container2 {
    width: auto; height: 320px; 
    border-radius: 5px;
    margin-left: 20px;
  }

  .container3 {
    background-color:#eef0e1;
    width: auto; height: auto;
    border: 1px solid #283618;
    border-radius: 5px;
    padding:8px;
  }

.icon {
    width: 50px;
}